@model IEnumerable<BhuInfo.Data.Objects.Entities.News>
@{
    ViewBag.Title = "SRC-Team";
    Session["newsmodel"] = null;
    Session["activitymodel"] = Model;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{

    <link href="~/AppTheme/team.css" rel="stylesheet"/>
}
<div class="container">
<div class="content">

<div class="team_grid">
<h3 class="m_1">Meet Our Team</h3>
<div class="span_3">
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1404.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>NEV TERNA</strong>, the <strong>President</strong> of the student representative council and also a student of Medicince and Surgery currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>08173715905</h3>
                <h3>president.bhusrc@binghamuni.edu.ng</h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1405.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong> AGUH GLORY UGOCHINYERE</strong>, the <strong>Vice President</strong> of the student representative council and also a student of computer science currently in 400 level.
                </p>
                <h3>Contact</h3>
                <h3>07039610105</h3>
                <h3>vicepresident.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="span_4">
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1406.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>ROBERT BATURE</strong>, the <strong>Secreatary General</strong> of the student representative council and also a student of medicine and surgery currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>09056335154 </h3>
                <h3>Secgen.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1409.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>YAKWAL MANSHAK LAWSON</strong>, the <strong>Financial Secretary</strong> of the student representative council and also a student of Economics currently in 400 level.
                </p>
                <h2>Contact</h2>
                <h3>08033050137 </h3>
                <h3>finsec.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="span_3">
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1408.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>OTOBO, DANIEL DAVID</strong>, the <strong>Assitant Secretary General</strong> of the student representative council and also a student of Medicine and surgery currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>09097329958</h3>
                <h3>Asstsecgen.bhusrc@binghamuni.edu.ng</h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1413.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>TENEBE MARY-CLARA</strong>, the <strong>Treasurer</strong> of the student representative council and also a student of Medicine and surgery currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>08151494012</h3>
                <h3>treasurer.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="span_3">
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1424.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>JONATHAN PWAJOK</strong>, the <strong>Director Of Socials</strong> of the student representative council and also a student of Economics currently in 400 level.
                </p>
                <h2>Contact</h2>
                <h3>07033269198</h3>
                <h3>dosocials.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1422(1).jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>BITRUS ZEPHANIAH TADA </strong>, the <strong>Director Of Sports</strong> of the student representative council and also a student of Computer Science currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>09033434162</h3>
                <h3>dosports.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="span_3">
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1416.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>IJUPTIL JAMES IJAI </strong>, the <strong>Welfare Officer(Male)</strong> of the student representative council and also a student of Economics currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>07055591155</h3>
                <h3>welfaremale.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1416.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>NDUKWE UCHECHI </strong>, the <strong>Welfare Officer(Female)</strong> of the student representative council and also a student of Medicine & Surgery currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>08162321790</h3>
                <h3>welfarefemale.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<div class="span_3">
    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1417.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>AYEMAKPE BENEFIT MOPAH </strong>, the <strong>P.R.O (Male)</strong> of the student representative council and also a student of Accounting currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>09032222833</h3>
                <h3>promale.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>

    <div class="col-md-6 ab-top">
        <ul class="span_2">
            <li class="span_2-left">
                <img src="~/Content/SrcImages/DSC_1420.jpg" class="img-size img-responsive" alt="">
            </li>
            <li class="span_2-right">
                <p>
                    My name is <strong>UCHIE-OKORO UCHENNA </strong>, the <strong>P.R.O (Female)</strong> of the student representative council and also a student of Medicine & Surgery currently in 300 level.
                </p>
                <h2>Contact</h2>
                <h3>09033170329</h3>
                <h3>profemale.bhusrc@binghamuni.edu.ng </h3>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
</div>
</div>
</div>