@model List<BhuInfo.Data.Objects.Entities.Video>

@{
    ViewBag.Title = "Videos";
    var videos = Model.OrderByDescending(n => n.DateCreated);
    Session["newsmodel"] = null;
    Session["activitymodel"] = Model; Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="content">

        <div class="col-md-12 content-right content-right-top">
            <div class="editors-pic-grids">

                <h5 class="head" style="color: #000099">Watch Videos</h5>
                <br/>
                <br/>
                @foreach (var item in videos)
                {
                    var link = item.Link.Replace("watch?v=", "embed/");
                    <iframe width="100%"
                            height="380px"
                            src="@link"
                            frameborder="0"
                            allowfullscreen></iframe>
                            <br/>
                            <br/>

                        }

                <div class="clearfix"></div>

                    </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>